/*Home page container for color on sides*/
body{
	width: 100%;
}

.container-fluid {
	padding: 0;
}

.navbar-inverse{
	border-radius: 0;
}

/*Home page picture*/
img {
	display: block;
	margin: 0 auto;
	width: 58%;
	box-shadow: 7px 5px 10px black;
}

/*Nav bar icons placement*/
.navbar-right {
	margin-right: 10px;
}

/*Link icons*/
.socialicon{
	height: 30px;
	width: 30px;
	box-shadow: 2px 3px 2px black;
}

.socialicon:hover{
	height: 33px;
	width: 33px;
}

.increaseSizeLink {
	height: 30px;
	width: 30px;
	bottom: 5px;
}

#twitter{
	margin-right: 10px;
}

#linkin{
	margin: 0 15px 0 10px;
}

#github{
	margin: 0 10px;
}

/*Name on Nav bar*/
.navbar-brand{
	position: absolute;
	font-family: 'Cinzel', serif;
	font-size: 2em;
}

/*Media quiers for mobile responsiveness*/
@media (max-width: 767px) {
	.navbar-brand{
		top: .1em;
	}
}

@media screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10) {
}

@media handheld {
	
}
/*No Response for hover on name for nav bar*/
.navbar-brand:hover{
	color: #9d9d9d!important;
}

/*Font for Subject headings*/
.margin{
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

#contact-heading{
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

/*Font style for paragraphs*/
p{
	font-family: 'Rokkitt', serif;
	font-size: 1.5em;
}

/*Color blocks with text inside about me details*/
.colorBlock1{
	background-color: rgba(114,114,114,0.97);
	width: 58%;
	margin: 0 auto;
	box-shadow: 7px 5px 10px black;
}

.textBlock1{
	width: 90%;
	margin: 0 auto;
	color: rgba(212,212,212,0.97);
	text-align: justify;
	padding: 20px;
}

.colorBlock2{
	background-color: #989b9f;
}

.textBlock2{
	width: 60%;
	margin: 0 auto;
	color: #424242;
	text-align:justify;
	padding: 20px;
}

.colorBlock3{
	background-color: rgba(21,21,21,0.61);
}

.textBlock3{
	width: 60%;
	margin: 0 auto;
	color: #131313;
	text-align: justify;
	padding: 20px;
}

/*Form contact me size*/
.form-container{
	width: 60%;
	margin: 0 auto 70px;
}

/*Buttons for contact me styles*/
.btns{
	float: left;
}

.btn-success{
	background-color: rgba(170,170,170,0.97);
	border: rgba(170,170,170,0.97);
}

.btn-success:hover{
	background-color: rgba(123,123,123,0.97);
	border: rgba(123,123,123,0.97);
}

.btn-warning{
	background-color: rgba(57,57,57,0.97);
	border: rgba(57,57,57,0.97);
}

.btn-warning:hover{
	background-color: rgba(25,25,25,0.97);
	border: rgba(25,25,25,0.97);
}

/*Footer detail & style*/
#bottomBoy{
	height: 50px;
	background-color: #151515;
	margin: 0;
	border-radius: 0;
}