/*Home page container for color on sides*/
body{
	width: 100%;
}

.container-fluid {
	padding: 0;
}

.navbar-inverse{
	border-radius: 0;
}

/*Home page picture*/
img {
	display: block;
	margin: 0 auto;
	width: 58%;
	box-shadow: 7px 5px 10px black;
}

@media screen and (max-width: 768px) {
	img{
		width: 95%;
		margin: 0 auto;
		box-shadow: 7px 5px 10px black;
	}
}

/*Nav bar icons placement*/
.navbar-right {
	margin-right: 10px;
}

/*Link icons*/
.socialicon{
	height: 30px;
	width: 30px;
	box-shadow: 2px 3px 2px black;
}

.socialicon:hover{
	height: 33px;
	width: 33px;
}

.increaseSizeLink {
	height: 30px;
	width: 30px;
	bottom: 5px;
}

#twitter{
	margin-right: 10px;
}

#linkin{
	margin: 0 15px 0 10px;
}

#github{
	margin: 0 10px;
}

/*Name on Nav bar*/
.navbar-brand{
	position: absolute;
	font-family: 'Cinzel', serif;
	font-size: 2em;
}

/* Navbar for mobile */

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0px !important;
}

.navbar-right {
	float: right!important;
}

button.navbar-toggle.collapsed {
	display: none;
}

#block1, #block2 {
	float: left;
	width: 100%;
}

@media (min-width: 1000px) {
	#block1, #block2 {
		width: 50%;
	}
}

/*No Response for hover on name for nav bar*/
.navbar-brand:hover{
	color: #9d9d9d !important;
}

/*Font for Subject headings*/
.margin{
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

#contact-heading{
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

/*Font style for paragraphs*/
p{
	font-family: 'Rokkitt', serif;
	font-size: 1.5em;
}

/*Color blocks with text inside about me details*/
.colorBlock1{
	background-color: rgba(114,114,114,0.97);
	width: 58%;
	margin: 0 auto;
	box-shadow: 7px 5px 10px black;
}

@media screen and (max-width: 768px) {
	.colorBlock1 {
		background-color: rgba(114,114,114,0.97);
		width: 95%;
		margin: 0 auto;
		box-shadow: 7px 5px 10px black;
	}
}

.textBlock1{
	width: 90%;
	margin: 0 auto;
	color: rgba(212,212,212,0.97);
	text-align: justify;
	padding: 20px;
	text-shadow: 1px 1px 1px black;
}

.colorBlock2{
	background-color: #b6b6b6;
	width: 58%;
	margin: 0 auto;
	box-shadow: 7px 5px 10px black;
}

@media screen and (max-width: 768px) {
	.colorBlock2 {
		background-color: #b6b6b6;
		width: 95%;
		margin: 0 auto;
		box-shadow: 7px 5px 10px black;
	}
}

.textBlock2{
	width: 90%;
	margin: 0 auto;
	color: #424242;
	text-align:justify;
	padding: 20px;
	text-shadow: 1px 1px 1px #ffffff;
}

.colorBlock3{
	background-color: rgba(21,21,21,0.61);
	width: 58%;
	margin: 0 auto;
	box-shadow: 7px 5px 10px black;
}

@media screen and (max-width: 768px) {
	.colorBlock3 {
		background-color: rgba(21,21,21,0.61);
		width: 95%;
		margin: 0 auto;
		box-shadow: 7px 5px 10px black;
	}
}

.textBlock3{
	width: 90%;
	margin: 0 auto;
	color: #131313;
	text-align: justify;
	padding: 20px;
	text-shadow: 1px 1px 1px #9e9e9e;

}

/*Projects info starts here*/
.title-sprout{
	font-family: 'Comfortaa', cursive;
}

.text-typewriter{
	text-align: justify;
	display: list-item;
	list-style-type: square;
}

.title-photo{
	font-family: 'La Belle Aurore', cursive;
}

.text-alayna{
	text-align: justify;
}

 #font-style{
	 font-family: 'Cutive Mono', monospace;
	 font-size: medium;
	 font-weight: bold;
	 padding-left: inherit;
 }

@media screen and (max-width: 768px){
	#font-style{
		font-family: 'Cutive Mono', monospace;
		font-size: small;
		font-weight: bold;
	}

 }
/*Form contact me size*/
.form-container{
	width: 60%;
	margin: 0 auto 70px;
}

@media screen and (max-width: 768px){
	.form-container{
		width: 95%;
		margin: 0 auto;
	}
}

/*Buttons for contact me styles*/
.btns{
	float: left;
}

@media screen and (max-width: 768px){
	.btns{
		margin: 7px;
	}
}

.btn-success{
	background-color: rgba(170,170,170,0.97);
	border: rgba(170,170,170,0.97);
}

.btn-success:hover{
	background-color: rgba(123,123,123,0.97);
	border: rgba(123,123,123,0.97);
}

.btn-warning{
	background-color: rgba(57,57,57,0.97);
	border: rgba(57,57,57,0.97);
}

.btn-warning:hover{
	background-color: rgba(25,25,25,0.97);
	border: rgba(25,25,25,0.97);
}

/*Footer detail & style*/
#bottomBoy{
	height: 50px;
	background-color: #151515;
	margin: 0;
	border-radius: 0;
}

h6{
	margin: 15px;
	float: right;
}