img {
	display: block;
	margin: 0 auto;
	width: 50%;
}

.socialicon{
	height: 30px;
	width: 30px;
}

.navbar-brand{
	position: absolute;
	font-family: 'Cinzel', serif;
	font-size: 2em;
}

@media (min-width: 768px) {
	.navbar-brand{
		top:.2em;
	}
}
